h1{
    color:#800000;
}

h2{
    font-family: 'Lucida Handwriting', cursive;color:#800000;
}

img{
    width: 250px;
    height:250px;
    display: flex;
    align-items: start;
}

body{ background-color: #FFC0CB;}


