body {
    background-color: #FFC0CB;
    font-family: Arial, sans-serif;
}

h1 {
    color: #800000;
}

h2 {
    font-family: 'Lucida Handwriting', cursive;
    color: #800000;
}

p {
    font-size: 1.2rem;
    line-height: 1.5;
}

img {
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}